/* color palette for this project */
:root {
  --bookshop-white: #f8f8f8;
  --bookshop-black: #181818;
  --bookshop-grey: #b0afaf;
  --bookshop-dark-grey: #373131;
  --bookshop-light-green: #d7f1ce;
  --bookshop-green: #c2f1b3;
  --bookshop-olive-green: #59764f;
  --bookshop-dark-green: hsla(160, 92%, 37%, 0.352);
  --bookshop-red: #ff7f50;
  --bookshop-indigo: #2c3e50;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--bookshop-black);
  --color-background-light: var(--bookshop-light-green);
  --color-background-alert: var(--bookshop-red);
  --color-background-info: var(--bookshop-green);

  --color-border-dark: var(--bookshop-grey);
  --color-button: var(--bookshop-green);

  --color-heading-2: var(--bookshop-green);
  --color-heading-3: var(--bookshop-white);
  --color-text: var(--bookshop-grey);
  --color-text-alert: var(--bookshop-red);
  --color-text-dark-on-light: var(--bookshop-dark-grey);
  --color-text-light-on-dark: var(--bookshop-white);
  --color-link: var(--bookshop-green);
  --color-hover-text: var(--bookshop-white);
  --color-hover-background: var(--bookshop-dark-green);

  /* default border style */
  --border-color: var(--bookshop-green);
  --border-width: 1px;
  --border-style: solid;
  --border-radius: 10px;

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family: sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
