@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  display: flex;
  flex-direction: column;
}

img {
  border-radius: 0.2rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.4rem;
  color: var(--color-heading-2);
}

.nav-button {
  color: var(--color-link);
  background-color: var(--color-background);
  border: none;
  padding: 0.2rem;
}

.nav-button:hover {
  color: var(--color-link-hover);
  background-color: hsla(160, 92%, 37%, 0.352);
  border-radius: 0.2rem;
  padding: 0.2rem;
}

form {
  margin-top: 1rem;
  padding: 0.8rem;
  font-size: 1rem;
  display: grid;
  grid-template-columns: min-content 300px;
  gap: 0.8rem;
  border: 1px solid var(--color-border);
  border-radius: 10px;
  min-width: 450px;
}

form > * {
  font-size: 1rem;
}

label {
  white-space: nowrap;
}

input, select {
  width: 300px;
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition: 0.4s;
  padding: 3px;
}

button {
  font-size: 1rem;
}
